{% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
<div class="col-xs-12 section-vertical container img-placeholder" style="background-image: url('{{ image_url }}')">
  <div class="collection__description">
    <h2 class="collection-title">¡Falta poco!</h2>
    <p class="collection-text">Esta sección mostrará tus colecciones destacadas. Para definirlas dirígete al área de configuración del tema y agrega una nueva colección.</p>
    <p>
      <a class="btn btn-primary" href="/admin/collections" class="btn btn-placeholder">Gestionar colecciones</a>
      <a class="btn btn-primary" href="/admin/themes" class="btn btn-placeholder">Ir a sección de temas</a>
    </p>
  </div>
</div>
