    .price-preview {
      margin-bottom: 1em;
      &__compared-price {
        margin-bottom: 4px;
        font-size: 1.2em;
        color: $product_compared_price_color;
        text-decoration: line-through;
        display: inline-block;
        span.inner {
          color: $body_font_color;
          text-decoration: none;
        }
        @media(min-width: 768px) {
          font-size: 1.2em;
        }
        @media(min-width: 992px) {
          font-size: 1.2em;
        }
        @media(min-width: 1200px) {
          font-size: 1.2em;
        }
      }
      &__price {
        line-height: 1;
        font-size: 1.7em;
        @media(min-width: 768px) {
          font-size: 1.8em;
        }
        @media(min-width: 992px) {
          font-size: 1.9em;
        }
        @media(min-width: 1200px) {
          font-size: 2em;
        }
      }
    }
