.share-facebook {
  color: #ffffff;
  background-color: $facebook-color !important;
  border-color: $facebook-color !important;
}
.share-twitter {
  color: #ffffff;
  background-color: $twitter-color !important;
  border-color: $twitter-color !important;
}
.share-pinterest {
  color: #ffffff;
  background-color: $pinterest-color !important;
  border-color: $pinterest-color !important;
}
.share-google {
  color: #ffffff;
  background-color: $googleplus-color !important;
  border-color: $googleplus-color !important;
}
