{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid collection-page">
  {% if collection.image_url is not null %}
    {% set image_url = collection.image_url %}
    {% set style = '' %}
  {% else %}
    {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
    {% set style = 'img-placeholder' %}
  {% endif %}

  {% if settings.thumbnail_form == 'thumbnail_portrait' %}
    {% set width = '380' %}
    {% set height = '616' %}
  {% elseif settings.thumbnail_form == 'thumbnail_landscape' %}
    {% set width = '380' %}
    {% set height = '235' %}
  {% elseif settings.thumbnail_form == 'thumbnail_square' %}
    {% set width = '380' %}
    {% set height = '380' %}
  {% endif %}

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 header">
      {% include '_titles.twig' with {title: collection.title, uppercase: settings.heading_uppercase_titles} only %}
      <p class="lead">{{ collection.description | striptags }}</p>
      <hr class="spacer">
    </div>
  </div>
  {% if products.count == 0 %}
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="products-title">¡Falta poco!</h2>
          <p class="products-text">Todavía no existen productos en esta colección, una vez que empieces a crearlos aparecerán aquí.</p>
          <p><a class="btn btn-primary" href="/admin/products">Gestionar Productos</a> <a class="btn btn-primary" href="/admin/collections">Gestionar Colecciones</a></p>
        </div>
      </div>
    </div>
  </div> <!-- .collection-page -->
  {% else %}
  <div class="row products__row symmetrical-container">
    {% for product in products %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 symmetrical">
      {% include '_product-card.twig' with {'width': width, 'height': height} %}
    </div>
  {% endfor %}
  </div> <!-- .products__row -->
  {% include '_pagination.twig' %}
{% endif %}
</div> <!-- .container-fluid -->
{% endblock %}
