{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid simple-page">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 header">
      {% include '_titles.twig' with {title: page.title, uppercase: settings.heading_uppercase_titles} only %}
      <hr class="spacer">
    </div>
  </div>
  <div class="row content">
  <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    {{ page.content }}
  </div>
  </div> <!-- .content -->
</div> <!-- .container-fluid -->
{% endblock %}
